        /* CONTENT1 */
.ct_content1{
    width: 100%;
}
.ct_content1_img{
    width: 100%;
}
.ct_content1_img img{
    padding-top: 8.2vw;
    width: 100%;
}
    
        /* END CONTENT 1 */
    
    
        /* CONTENT 2 */
.ct_content2{
    width: 100%;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 10vw;
}
.ct_content2-form{
    width: 80%;
    margin: 0 auto;
    margin-top: 5vw;
}
.ct_content2-form--top{
    display: flex;
    justify-content: space-between;
}
.ct_content2-form--top input{
    padding: 10px 0 10px 1vw;
    width: 33.3%;
    margin: 3px;
    border-radius: 5px;
    border: 1.3px solid #9c9c9c;
}
.ct_content2-form--top input::placeholder{
    color: black;
    font-weight: bold;
}
.ct_content2-form--bottom textarea{
    width: 99.5%;
    border-radius: 5px;
    border: 1.3px solid #9c9c9c;
    margin: 3px;
    padding: 7px 0 7px 1vw;
}
.ct_content2-form--bottom textarea::placeholder{
    color: black;
    font-weight: bold;
}

        /* END CONTENT 2 */

        /* FOOTER */
    
.footer{
    margin-top: 0;
}
.footer_contact-bottom--img{
    position: absolute;
    width: 150px;
    left: 15%;
    top: -30%;
}
    
    /* RESPONSIVE */
    
@media only screen and (max-width: 1200px) {
    .footer_contact-bottom--img{
        width: 10%;
    }
    .ct_content1_img img{
        padding-top: 10vw;
        width: 100%;
    }
}
@media only screen and (max-width: 992px) {
    .ct_content1_img img{
        padding-top: 10.5vw;
        width: 100%;
    }
    .ct_content2-form{
        width: 90%;
    }
}
@media only screen and (max-width: 768px) {
    .ct_content1_img img{
        padding-top: 16vw;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .ct_content1_img img{
        padding-top: 15vw;
        width: 100%;
    }
    .b_content2-title::before{
        width: 100px;
        height: 3px;
        left: 36%;
    }
}
@media only screen and (max-width: 480px) {
    .ct_content1_img img{
        padding-top: 16.5vw;
        width: 100%;
    }
    .ct_content2-form--bottom textarea::placeholder,
    .ct_content2-form--top input::placeholder{
        color: black;
        font-weight: bold;
        font-size: .8em;
    }
    .ct_content2-form--top input{
        padding: 5px 0 5px 1vw;
    }
    .ct_content2-form{
        width: 95%;
    }
}
@media only screen and (max-width: 425px) {
    .ct_content1_img img{
        padding-top: 18.5vw;
        width: 100%;
    }
}
@media only screen and (max-width: 375px) {
    .ct_content1_img img{
        padding-top: 20.9vw;
        width: 100%;
    }
    /* .ct_content2-form--bottom textarea::placeholder,
    .ct_content2-form--top input::placeholder{
        color: black;
        font-weight: bold;
        font-size: .7em;
    } */
    .ct_content2-form--bottom textarea,
    .ct_content2-form--top input{
        font-size: .6em;
    }
    .ct_content2-form--top input,
    .ct_content2-form--bottom textarea{
        padding: 3px 0 3px 1vw;
    }
}